body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: poppins;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    height: 100vh;
    width: 100vw;
    background-color: #17161a;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 9vh;
    align-items: center;

}

.name {
    width: 50%;
    text-align: center;

}

.right-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
    color: aqua;
    transition: 0.5s ease-in-out;
}


/* Main */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91vh;
    width: 100vw;

}

/* Profile Picture */
.profile-picture {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url(./Assets/WhatsApp\ Image\ 2024-05-30\ at\ 16.30.49.jpeg);
    background-size: cover;
    background-repeat: no-repeat;


}

.profile-picture:hover {
    box-shadow: 0px 0px 40px aqua;
    transition: 0.5s ease-in-out;
}


.profile {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.profile h3 {
    background: #2EC9CC;
    background: linear-gradient(to bottom right, #2EC9CC 36%, #f4f4f4 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

.btn-profile a {
    display: inline-block;
    text-decoration: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(333deg, rgba(2, 0, 36, 1) 0%, rgba(85, 57, 141, 1) 2%, rgba(106, 9, 121, 1) 16%, rgba(0, 255, 222, 1) 97%);
    height: 20px;
    width: 70px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    margin-right: 10px;

}

.btn-profile a:hover {
    box-shadow: 0px 0px 20px aqua;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.res {
    margin-top: 20px;
    width: 165px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #000000;
    transition: 0.1s;
    align-items: center;
    text-align: center;
}

.res::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.res:hover,
.project-container button:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
}



/* Scroll Bar */
/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
}




/* ------------------------------ Project Page -------------------------------------- */

.project-page {
    height: 98vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    text-align: center;
    height: 1vh;

}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 80vw;
    gap: 10px;

}

.todo-project-img {
    width: 80%;
    height: 150px;
    background-image: url(./Assets/todo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;


}

.ncs-project-img {
    width: 80%;
    height: 150px;
    background-image: url(./Assets/player.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

}

.project-container button {
    width: 80px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(333deg, rgba(2, 0, 36, 1) 0%, rgba(85, 57, 141, 1) 2%, rgba(106, 9, 121, 1) 16%, rgba(0, 255, 222, 1) 97%);
    color: white;
    margin-top: 20px;

}

.todo-project,
.ncs-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(27, 23, 23, 0.356);
    border-radius: 15px;
    padding: 20px;

}

.about-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}


.todo-project:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
}

.ncs-project:hover {
    transform: scale(0.9) rotate(-3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;

}



/* --------------------------  Education Page ----------------------------------- */

.edu-container {
    height: 100vh;
    width: 100vw;
    background-color: #17161a;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrap {
    display: flex;
    width: 90vw;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;

}

.timeline {
    flex: 1;
}

.icon {
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 94, 247, 1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;



}

.line {
    position: absolute;
    width: 1px;
    height: 120px;
    background-color: white;
    z-index: 2;
    margin-top: 40px;
    margin-left: 15px;

}

.center {
    flex: 1;

}

.content {
    flex: 2;
}

.wrap:hover {
    transform: scale(0.9);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
}






/* -----------------------Contact Page ----------------------- */
.contact-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #17161a;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;



}

.contact-form {
    width: 100vw;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

input {
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    margin-top: 20px;
    color: white;
    width: 60vw;
}

input[type="text"] {
    height: 70px;
}

.contact i {
    margin-right: 10px;
}

form button {
    margin-top: 20px;
    width: 165px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #000000;
    transition: 0.1s;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);

}

form button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

form button:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
}




/* Footer */
footer {
    height: 10vh;
    width:100vw ;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.427);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}




/* Responsive */

@media screen and (max-width: 427px) {

    header {
        font-size: 7px;
    }

    main {
        flex-direction: column;
    }

    .profile {
        align-items: center;
        font-size: 10px;
        width: 80vw;

    }

    p {
        font-size: 8px;
    }

    .todo-project-img,
    .ncs-project-img {
        height: 50px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 10px;
    }

    .icon {
        height: 20px;
        width: 20px;
        margin-top: 10px;
    }

    .line {
        height: 80px;
        margin-left: 10px;
    }

    .wrap {
        width: 85vw;
    }

    .skill-container {
        height: 200px;
        width: 300px;
    }

    .contact,
    .footer-nav {
        font-size: 10px;
    }

    button {
        height: 30px;
        width: fit-content;
    }


}





/* Skills Page   */
.skill-two {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 80vh;
    background-color: rgba(128, 128, 128, 0.23);
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}
.bar{
    margin: 10px;
}
.bar .info{
    margin-bottom: 5px;
}
.info span{
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;

}
@keyframes showText {
    100%{
        opacity: 1;
    }

}
.progress-line-html,
.progress-line-css,
.progress-line-js,
.progress-line-react,
.progress-line-node,
.progress-line-express,
.progress-line-mongo,
.progress-line-git{
    height: 4px;
    width: 100%;
    background-color: white;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px black,
                       0px 1px white;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;                   

}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}


.p-line span{
    height: 110%;
    position: absolute;
    border-radius: 8px;
    cursor: pointer;

}
.html{
    width: 100%;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 15px rgb(255, 0, 21);
    transition: 0.3s ease;

}
.css{
    width: 100%;
    background-color: rgb(0, 17, 255);
    box-shadow: 0 0 15px rgb(34, 5, 178);
    transition: 0.3s ease;
}
.js{
    width: 85%;
    background-color: gold;
    box-shadow: 0 0 15px gold;
    transition: 0.3s ease;
}
.react{
    width: 90%;
    background-color: rgb(0, 170, 255);
    box-shadow: 0 0 15px rgb(0, 157, 255);
    transition: 0.3s ease;
}
.node{
    width: 95%;
    background-color: rgb(30, 193, 15);
    box-shadow: 0 0 15px rgb(5, 177, 63);
    transition: 0.3s ease;
}
.express{
    width: 90%;
    background-color: rgb(169, 18, 91);
    box-shadow: 0 0 15px rgb(176, 5, 136);
    transition: 0.3s ease;
}
.mongo{
    width: 90%;
    background-color: rgb(1, 255, 30);
    box-shadow: 0 0 15px rgb(0, 251, 17);
    transition: 0.3s ease;
}
.git{
    width: 100%;
    background-color: rgb(180, 227, 12);
    box-shadow: 0 0 15px rgb(180, 227, 12);
    transition: 0.3s ease;
}